h1, h2, h3, h4, h5, h6 {
    font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
    /*line-height: 1.4em;*/
}
p, body, h8, h9 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    /*line-height: 1.6em;
    letter-spacing: .02em;
    text-indent: 0em;*/
}
h7, h10 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    /*line-height: 1.8em;
    letter-spacing: .02em;*/
}
@media (min-width: 100px) {
    h1 {font-size: 5.0rem;}
    h2 {font-size: 2.1rem;}
    h3 {font-size: 2.1rem;}
    h4 {font-size: 2.1rem;}
	h5 {font-size: 1.6rem;}
	h6 {font-size: 1.6rem;}
    h7 {font-size: 1.5rem;}
    h8 {font-size: 1.0rem;}
    h9 {font-size: .9rem;}
	h10 {font-size: 1.1rem;}
    p, body {font-size: 1.1rem;}
  }
@media (min-width: 576px) {
    h1 {font-size: 6.0rem;}
    h2 {font-size: 3.5rem;}
    h3 {font-size: 2.1rem;}
    h4 {font-size: 2.1rem;}
	h5 {font-size: 1.6rem;}
	h6 {font-size: 1.6rem;}
    h7 {font-size: 1.5rem;}
    h8 {font-size: 1.0rem;}
    h9 {font-size: .9rem;}
	h10 {font-size: 1.1rem;}
    p, body {font-size: 1.1rem;}
  }
@media (min-width: 768px) {
    h1 {font-size: 6.5rem;}
    h2 {font-size: 3.8rem;}
    h3 {font-size: 2.0rem;}
    h4 {font-size: 1.6rem;}
	h5 {font-size: 1.6rem;}
	h6 {font-size: 1.6rem;}
    h7 {font-size: 1.5rem;}
    h8 {font-size: 1.0rem;}
    h9 {font-size: .9rem;}
	h10 {font-size:1.1rem;}
    p, body {font-size: 1.1rem;}
  }
@media (min-width: 992px) {
    h1 {font-size: 6.5rem;}
    h2 {font-size: 3.8rem;}
    h3 {font-size: 2.0rem;}
    h4 {font-size: 2.0rem;}
	h5 {font-size: 1.6rem;}
	h6 {font-size: 1.6rem;}
    h7 {font-size: 1.5rem;}
    h8 {font-size: 1.0rem;}
    h9 {font-size: .9rem;}
	h10 {font-size: 1.1rem;}
    p, body {font-size: 1.1rem;}
  }
@media (min-width: 1400px) {
    h1 {font-size: 8rem;}
    h2 {font-size: 5rem;}
    h3 {font-size: 4rem;}
    h4 {font-size: 3.5rem;}
	h5 {font-size: 3rem;}
	h6 {font-size: 2.3rem;}
    h7 {font-size: 2.2rem;}
    h8 {font-size: 1.3rem;}
    h9 {font-size: 1.0rem;}
	h10 {font-size: 1.5rem;}
    p, body {font-size: 1.5rem;}
  }

.navbar-brand {
    font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #698963 !important;
}
.navbar-text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
	color: #698963 !important;
}
.navbar-nav {
	font-size: 1.2rem;
	color: #698963 !important;
}
.navbar-custom {
	background-color: #0a2243;
}
.dropdown-item:hover {
	background-color: #625079 !important;
	color: #D2AFD4 !important;
}
.dropdown-divider {
	border-top: 1px solid #698963 !important;
}
.dropdown-menu {
	background-color: #0a2243;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.vspacehalfem {
    clear: both;
    height: .5em;
}
div.vspace1em {
    clear: both;
    height: 1em;
}
div.vspace2em {
    clear: both;
    height: 2em;
}
div.vspace3em {
    clear: both;
    height: 3em;
}
div.mutedgreendiv {
	background-color: #33422B;
}
div.mutedbluegreendiv {
	background-color: #3C4F46;
}
div.yellowdiv {
	background-color: #f7ce16;
}
div.brightbluediv{
	background-color: #2A5D88;
}
div.reddiv{
	background-color: #B23D1B;
}
div.blackdiv {
    background-color: #141A18;
}
div.whitediv {
    background-color: #FFFFFF;
}
div.purplediv{
	background-color: #625079;
}
div.graydiv {
	background-color: #212F28;
}
div.navydiv {
	background-color:#0a2243;
}
div.orangediv{
	background-color: #E3920D;
}
div.limegreendiv{
	background-color: #72912F;
}
div.forestgreendiv{
	background-color: #122900
}
div.rosediv {
	background-color: #BC0758;
}
div.lightmutedgreendiv {
	background-color: #698963;
}
div.paleyellowdiv{
	background-color: #FEFADC;
}
div.creamdiv {
	/*background-color: #e6efef;*/
	background-color: #f2f2f2;
}
img {
    object-fit: contain;
    width: 100%;
    /*padding: 5% 2% 5% 2%;*/
}
/*img.img-case-study {
    object-fit: contain;
    width: 100%;
    padding: 3% 2% 3% 2%;
}*/
#workgrid {
    overflow: hidden;
}
footer {
    text-align: center;
	background-color: #0a2243;
}
.footer h3,p {
    color: #698963;
}
#mutedgreentext {
	color: #33422B;
}
#mutedbluegreentext {
	color: #3C4F46;
}
#yellowtext {
	color: #f7ce16;
}
#mediumbluetext{
	color: #2A5D88;
}
#redtext{
	color: #B23D1B;
}
#blacktext {
    color: #141A18;
}
#whitetext {
    color: #FFFFFF;
}
#purpletext{
	color: #625079;
}
#graytext {
	color: #212F28;
}
#navytext {
	color:#0a2243;
}
#orangetext{
	color: #E3920D;
}
#limegreentext{
	color: #72912F;
}
#forestgreentext{
	color: #122900;
}
#rosetext {
	color: #BC0758;
}
#lightmutedgreentext {
	color: #698963;
}
#navbartext {
	color: #698963;
}
#lightpinktext {
	color: #FB9DC7;
}
#paleyellowtext{
	color: #FEFADC;
}
#creamtext{
	color: #e6efef;
}
#lightestgraytext {
	color: #b7e6e1;
}
.btn-primary, .btn-primary:visited {
    background-color: #0a2243 !important;
	font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
	color: #f9f9f9 !important;
	margin: 0rem !important;
	padding: 0.35rem 1.5rem !important;
	border-radius: 0.2rem !important;
}
/*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #972156 !important;
	font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
	color: #FADBDC !important;
	margin: 0rem !important;
	padding: 0.35rem 1.5rem !important;
	border-radius: 0.1rem !important;
}
*/
.btn-primary:hover, .btn-primary:active {
    background-color: #625079 !important;
	font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
	color: #D2AFD4 !important;
	margin: 0rem !important;
	padding: 0.35rem 1.5rem !important;
	border-radius: 0.1rem !important;
}
.link-primary {
	color: #E3920D !important;
}
.hero {
	background-position: 0% 0% !important;
	background-repeat: no-repeat;
	background-size: cover;
  /* needed to prevent janky scrolling in Safari*/
  backface-visibility: hidden;
  /*//100% height of the viewport */
	height: 110vh;
	overflow: hidden;
	position: relative !important;
	width: 100%;
	
	@media screen and (min-width:640px) {
		background-position: 50% 0;
	}
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 10% !important;
  left: 10% !important;
  /*bottom: 10%;
  right: 10%;*/
}




/*
.carousel-control-prev-icon !important{ 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2317B890' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
 
.carousel-control-next-icon !important {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2317B890' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
      }
*/
/*Figma file */
/*
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
*/
/*Figma file */
/*
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

*/
/*
.masonry { /* Masonry container */
/*
    -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}
*/
/*
.item {
    display: inline-block;
    background: #dee5e5;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
  -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #070E08;
}
.item img{max-width:100%;}
*/
/* Masonry photo gallery */
/*
@media only screen and (max-width: 600px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 993px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
*/